h1 {
    text-align: center;
    color: red;
}
h5 {
    color: blue;
}
img {
    width: 100%;
    height: auto;
}
.container {
    max-width: 800px;
    margin: auto;
}
.card {
    margin: 5px;
    float: left;
    width: 250px;
}
.column {
    float: left;
    width: 33.33%;
}